# Copy this file (and rename it to .env), and set the values
# Optional values are commented out by default

### Build / release process ###
# Path to the wcc_lite.exe from REDkit / MODkit
WCC_LITE_PATH="C:\SomeDirectory\The Witcher 3 REDkit\bin\x64_RedKit\wcc_lite.exe"

# Path to Witcher 3 content0 dir (required to compile rsblob)
# WITCHER_CONTENT0_PATH="C:\GamesDirectory\The Witcher 3 Wild Hunt GOTY\content\content0"

### Export tool ###
# Path to the Witcher 3 scriptslog.txt file (used by tools\Export-Lights.ps1)
# WITCHER_SCRIPTSLOG_PATH="C:\Users\USER\Documents\The Witcher 3\scriptslog.txt"
